fileFormatVersion: 2
guid: 52ec0609a1b31461c9ae051dd3bc0b92
MonoImporter:
  externalObjects: {}
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
